<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会议数据导出</title>
    <!-- 移动设备友好-->
    <meta name="view-port" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link href="#" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap-datetimepicker/2.4.2/css/bootstrap-datetimepicker.css}" rel="stylesheet"
          type="text/css">
    <link th:href="@{/webjars/bootstrap-datetimepicker/2.4.2/css/bootstrap-datetimepicker.min.css}" rel="stylesheet"
          type="text/css">
    <style type="text/css">
        /* Chart.js */
        @-webkit-keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        @keyframes chartjs-render-animation {
            from {
                opacity: 0.99
            }
            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            -webkit-animation: chartjs-render-animation 0.001s;
            animation: chartjs-render-animation 0.001s;
        }
    </style>
    <script type="text/javascript">
        function thisMethod() {
            var chooseDay = $("#generateByDay").val();
            var chooseMonth = $("#generateByMonth").val();
            var chooseYear = $("#generateByYear").val();
            var num=$("#state").val();
            var realDay;
            var numBe=Number(Boolean(chooseDay))+Number(Boolean(chooseMonth))+Number(Boolean(chooseYear));
            if (numBe<1){
                alert("请至少选择一种导出方式");
            } else if (numBe>1){
                alert("请至多选择一种导出方式")
            } else {
                if (!chooseMonth && !chooseYear)  {
                    realDay=chooseDay;
                }else if (!chooseDay && !chooseYear){
                    realDay=chooseMonth;
                } else if(!chooseDay && !chooseMonth){
                    realDay=chooseYear;
                }
                $.ajax({
                    url: "/generateEveryReports",
                    type: "POST",
                    dataType: "text",
                    data: {
                        day: realDay,
                        num: num
                    },
                    success: function (data) {
                        alert("已成功生成:  "+data+",点击确定即可下载查看");
                        var url="/download";
                        var form=$("<form></form>").attr("action", url).attr("method", "post");
                        form.append($("<input></input>").attr("type", "hidden").attr("name", "fileName").attr("value", data));
                        form.appendTo('body').submit().remove();
                    },
                    error:function (data) {
                        alert("对不起，发生未知错误，请重试")
                    }
                })
            }
        }
    </script>
    <script>
        $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
    <script type="text/javascript">
        function anotherMethod() {
            var chooserWeek=$("#generateByWeek").val();
            var num=$("#state").val();
            $.ajax({
                url: "/generateWeekReports",
                type: "POST",
                dataType: "text",
                data: {
                    day: chooserWeek,
                    num: num
                },
                success: function (data) {
                    alert("已成功生成:  "+data+",点击确定即可下载查看");
                    var url="/download";
                    var form=$("<form></form>").attr("action", url).attr("method", "post");
                    form.append($("<input></input>").attr("type", "hidden").attr("name", "fileName").attr("value", data));
                    form.appendTo('body').submit().remove();
                },
                error:function (data) {
                    alert("对不起，发生未知错误，请重试")
                }
            })

        }
    </script>
</head>
<body>
<div th:replace="commons/bar::topbar"></div>
<div class="container-fluid">
    <div class="row">
        <!--引入sidebar-->
        <div th:replace="commons/bar::#sidebar(activeUri='attenceMsg_list')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 ">
            <h2 class="col- col-md-auto text-center">会议数据导出</h2>
            <form href="#">
                <div class="form-group custom-control custom-control-inline">
                    <button class="btn btn-primary"  disabled>按日导出</button>
                    <input name="startTime" class="form_datetime form-control"
                           id="generateByDay"
                           style="width: 200px">
                </div>
                <div class="form-group custom-control custom-control-inline">
                    <button class="btn btn-primary " disabled>按月导出</button>
                    <input name="startTime" class="form_datetime form-control"
                           id="generateByMonth"
                           style="width: 200px">
                </div>
                <div class="form-group custom-control custom-control-inline">
                    <button class="btn btn-primary"  disabled>按年导出</button>
                    <input name="startTime" class="form_datetime form-control"
                           id="generateByYear"
                           style="width: 200px">
                </div>
                <br>
                <div class="form-group">
                    <label for="state">  请选择您要的状态：</label>
                    <select class="form-control" id="state" style="width: 400px">
                        <option value="1">会议成功</option>
                        <option value="2">迟到</option>
                        <option value="3">早退</option>
                        <option value="4">迟到 && 早退</option>
                        <option value="5">缺勤</option>
                    </select>
                </div>
                <div class="form-group">
                    <a class="btn btn-outline-primary btn-lg" onclick="thisMethod()">提交</a>
                </div>
            </form>
           <div>
               <hr style="filter: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color="#6f5499" size="10"/>
           </div>
            <form href="#">
                <div class="form-group custom-control custom-control-inline">
                    <button class="btn btn-primary" data-toggle="tooltip" disabled="disabled" title="请任意选中周三所在周" >按周导出</button>
                    <input name="startTime" class="form_datetime form-control"
                           id="generateByWeek"
                           style="width: 200px">
                </div>
                <div class="form-group">
                    <label for="state">  请选择您要的状态：</label>
                    <select class="form-control" id="state1" style="width: 400px">
                        <option value="1">会议成功</option>
                        <option value="2">迟到</option>
                        <option value="3">早退</option>
                        <option value="4">迟到 && 早退</option>
                        <option value="5">缺勤</option>
                    </select>
                </div>
                <div class="form-group">
                    <a class="btn btn-outline-primary btn-lg" onclick="anotherMethod()">提交</a>
                </div>
            </form>
        </main>

    </div>
</div>
    <script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
    <script type="text/javascript" src="asserts/js/popper.min.js"
            th:src="@{/webjars/popper.js/1.14.3/popper.js}"></script>
    <script type="text/javascript" src="asserts/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap-datetimepicker/2.4.2/js/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap-datetimepicker/2.4.2/js/locales/bootstrap-datetimepicker.fr.js}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap-datetimepicker/2.4.2/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script type="text/javascript">
        //日期插件
        $("#generateByDay").datetimepicker({
            format: 'yyyy-mm-dd',//显示格式
            todayHighlight: 1,//今天高亮
            keyboardNavigation: true,
            maxView: 3,
            minView: 2,//设置显示位置
            language: 'zh-CN',
            startView: 2,
            forceParse: 0,
            todayBtn: true,
            showMeridian: 1,
            autoclose: true//选择后自动关闭
        });
        $("#generateByWeek").datetimepicker({
            format: 'yyyy-mm-dd',//显示格式
            todayHighlight: 1,//今天高亮
            keyboardNavigation: true,
            maxView: 3,
            daysOfWeekDisabled: [0,1,2,4,5,6],
            minView: 2,//设置显示位置
            language: 'zh-CN',
            startView: 2,
            forceParse: 0,
            todayBtn: true,
            showMeridian: 1,
            autoclose: true//选择后自动关闭
        });

        $("#generateByMonth").datetimepicker({
            format: 'yyyy-mm',//显示格式
            todayHighlight: 1,//今天高亮
            keyboardNavigation: true,
            maxView: 3,
            minView: 3,
            language: 'zh-CN',
            startView: 3,
            forceParse: 0,
            todayBtn: true,
            showMeridian: 1,
            autoclose: true//选择后自动关闭
        });
        $("#generateByYear").datetimepicker({
            format: 'yyyy',//显示格式
            todayHighlight: 1,//今天高亮
            keyboardNavigation: true,
            maxView: 4,
            minView: 4,//设置显示位置
            language: 'zh-CN',
            startView: 4,
            forceParse: 0,
            todayBtn: true,
            showMeridian: 1,
            autoclose: true//选择后自动关闭
        })

    </script>
</body>
</html>