<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swf.attence.mapper.AttenceMsgMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.swf.attence.entity.AttenceMsg">
        <id column="id" property="id" />
        <result column="userid" property="userid" />
        <result column="check_in_time" property="checkInTime" />
        <result column="cameraid_in" property="cameraidIn" />
        <result column="check_out_time" property="checkOutTime" />
        <result column="cameraid_out" property="cameraidOut" />
        <result column="check_state" property="checkState" />
        <result column="failid" property="failid" />
    </resultMap>

    <select id="selectByTimeAndState" resultMap="BaseResultMap">
        SELECT
            id,userid,check_in_time,cameraid_in,check_out_time,cameraid_out,check_state,failid
        FROM
            attence_msg
        WHERE
            check_in_time LIKE
            #{day}
            AND check_state = #{num}
    </select>
</mapper>
